<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <strong *ngIf="!rack.iD;else elseBlock">Add new</strong>
          <ng-template #elseBlock><strong>Update</strong></ng-template>
          Brand
          <button type="button" class="btn btn-sm btn-primary float-right" (click)="backList()"><i
              class="fa fa-chevron-left"></i>
            Back</button>
        </div>
        <form class="form-horizontal" #addForm="ngForm" (ngSubmit)="addForm.valid">
          <div class="card-body">
            <div class="form-group row">
              <label class="col-md-1 col-form-label" for="factory"><strong class="float-right"> Factory</strong></label>
              <div class="col-md-2">
                <select class="form-control" id="factory" name="factory" [(ngModel)]="rack.factory_ID">
                  <option value="">Select item</option>
                  <option *ngFor="let item of factories" value="{{item.code_ID}}">{{item.code_Ename}}</option>
                </select>
              </div>
              <label class="col-md-1 col-form-label" for="wh"><strong class="float-right">WH </strong></label>
              <div class="col-md-2">
                <select class="form-control" id="wh" name="wh" [(ngModel)]="rack.wH_ID">
                  <option value="">Select item</option>
                  <option *ngFor="let item of whs" value="{{item.code_ID}}">{{item.code_Ename}}</option>
                </select>
              </div>
              
              <label class="col-md-1 col-form-label" for="building"><strong class="float-right">Building </strong></label>
              <div class="col-md-2">
                <select class="form-control" id="building" name="building" [(ngModel)]="rack.build_ID">
                  <option value="">Select item</option>
                  <option *ngFor="let item of buildings" value="{{item.code_ID}}">{{item.code_Ename}}</option>
                </select>
              </div>
              
              <label class="col-md-1 col-form-label" for="floor"><strong class="float-right">Floor </strong></label>
              <div class="col-md-2">
                <select class="form-control" id="floor" name="floor" [(ngModel)]="rack.floor_ID">
                  <option value="">Select item</option>
                  <option *ngFor="let item of floors" value="{{item.code_ID}}">{{item.code_Ename}}</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-1 col-form-label" for="area"><strong class="float-right">Area</strong></label>
              <div class="col-md-2">
                <select class="form-control" id="area" [(ngModel)]="rack.area_ID" name="area">
                  <option value="">Select item</option>
                  <option *ngFor="let item of areas" value="{{item.code_ID}}">{{item.code_Ename}}</option>
                </select>
              </div>

              <label class="col-md-1 col-form-label" for="rackLocation"><strong class="float-right">Rack Location</strong></label>
              <div class="col-md-2">
                <input type="text" [(ngModel)]="rack.rack_Location" name="rackLocation" class="form-control">
              </div>
            
            </div>

          </div>
          <div class="card-footer">
            <button type="button" class="btn btn-danger"><i class="fa fa-ban"></i>
              Cancel</button>
            <button type="button" class="btn btn-success" (click)="create()" ><i
                class="fa fa-check"></i> Create</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>