thead {
    background-color: #20a8d8;
    color: #fff;
}
.btn-print1 {
    width: 75px;
}
.center-btn {
    display: flex; 
    justify-content: center;
}
th {
    font-weight: normal;
}
//------- css qrcode print--------------
.text-red {
    color: red;
}
.div-top1 {
    margin-top: 33%;
}
td {
    width: 70px;
}
.div-hidden {
    display: none;
}
