<div class="container">
        <!-- <ngx-qrcode *ngIf="display" id="qrCodeImage" [qrc-element-type]="elementType" [qrc-value] = "value">
        </ngx-qrcode> -->
    <div class="row">
        <div class="col-1">
        </div>
        <div class="col-10">
            <div class="row">
                <div class="col-4">
                    <div style="display: flex;">
                        <ngx-qrcode id="qrCodeImage" [qrc-element-type]="elementType" [qrc-value] = "value">
                        </ngx-qrcode>
                        <span class="text-red div-top1" style="margin-left: 6%;">QRCodeID</span>
                    </div>
                    <div>
                        <span>B0124696503001</span>
                    </div>
                </div>
                <div class="col-4">
                    <div class="div-top1">
                        <span class="text-red">Receive Date</span>
                    </div>
                    <div>
                        <span>2020/01/11</span>
                    </div>
                </div>
                <div class="col-4">
                    <div class="div-top1">
                        <span class="text-red margin-title">Supplier No + Name</span>
                    </div>
                    <div>
                        <span>V575 - YEIJER</span>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-4">
                    <span>0124696503</span>
                    <span style="margin-left: 30px;">-1</span>
                </div>
                <div class="col-8">
                    <span class="text-red">Plan No, Batch, Total Qty</span>
                    <span style="margin-left: 100px;">1050</span>
                </div>
                <div class="col-4">
                    <span>JAE06</span>
                    <span>FALCON W</span>
                </div>
                <div class="col-8">
                    <span>EH3522</span>
                    <span class="text-red">Model No, Model Name,</span>
                    <span class="text-red" style="margin-left: 50px;">Articel</span>
                </div>
                <div class="col-4">
                    <span>SKYJ17S00A</span>
                </div>
                <div class="col-8">
                    <span>(35876)(65A 90 SO RERUB NM EPM3)BLK Forefoot Lateral+Rearfoo</span>
                </div>
                <div class="col-4">

                </div>
                <div class="col-4">
                    <span class="text-red">Mat# - Mat#Name</span>
                </div>
                <div class="col-4">

                </div>
                <div class="col-10">
                    <table>
                        <tr>
                            <td>TSize</td>
                            <td *ngFor="let item of TSizeArray">{{ item }}</td>
                        </tr>
                        <tr>
                            <td>Size</td>
                            <td *ngFor="let item of sizeArray">{{ item }}</td>
                        </tr>
                        <tr>
                            <td>PQty</td>
                            <td *ngFor="let item of PQty">{{ item }}</td>
                        </tr>
                        <tr>
                            <td>RQty</td>
                            <td *ngFor="let item of RQty">{{ item }}</td>
                        </tr>
                        <tr>
                            <td>Bal</td>
                            <td *ngFor="let item of Bal">{{ item }}</td>
                        </tr>
                    </table>
                </div>
                <div class="col-2">
                    <span class="text-red">Tool Size</span>
                </div> 
            </div>
            <hr>
            <div class="row">
                <div class="col-4">
                    <span>H0001</span>
                    <div>
                        <span class="text-red">Subcon No</span>
                    </div>
                </div>
                <div class="col-4">
                    <span>TPU ELASTOLLAL</span>
                    <div>
                        <span  class="text-red">SunCon Name</span>
                    </div>
                </div>
                <div class="col-4">
                    <span>VB02 - YUESHENG</span>
                    <div>
                        <span  class="text-red">T3 Supplier No - Name</span>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-3">
                    <span>Suggested Location</span>
                    <div>
                        <span class="text-red">Rack Location</span>
                    </div>
                </div>
                <div class="col-3">
                    <span><i class="fa fa-square-o fa-lg"></i> A-01-02</span>
                    <div>
                        <ngx-qrcode id="qrCodeImage" [qrc-element-type]="elementType" [qrc-value] = "value">
                        </ngx-qrcode>
                    </div>
                </div>
                <div class="col-3">
                    <span><i class="fa fa-square-o fa-lg"></i> A-01-02</span>
                    <div>
                        <ngx-qrcode id="qrCodeImage" [qrc-element-type]="elementType" [qrc-value] = "value">
                        </ngx-qrcode>
                    </div>
                </div>
                <div class="col-3">
                    <span><i class="fa fa-square-o fa-lg"></i> A-01-02</span>
                    <div>
                        <ngx-qrcode id="qrCodeImage" [qrc-element-type]="elementType" [qrc-value] = "value">
                        </ngx-qrcode>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-1">
        </div>
    </div>
</div>