
td {
    width: 70px;
}
.print-all {
    height: 1530px;
 }
 .margin-row-print {
    margin-right: 5px;
    margin-left: 5px;
 }
.div-hidden {
    display: none;
}
.btn-print {
    margin-left: 5px;
}
.text-margin1 {
    margin-left: 20px;
}
span, td {
    font-size: 15px;
}
.hr-margin {
    margin-top: 2px;
    margin-bottom: 2px;
}

