<div class="container print-all" *ngIf="qrCodeMainItem !== undefined" id="wrap-print">
    <div class="row">
        <div class="col-1">
        </div>
        <div class="col-10">
            <div class="row">
                <div class="col-4">
                    <div style="display: flex;">
                        <ngx-qrcode id="qrCodeImage" [qrc-element-type]="elementType" [qrc-value] = "qrCodeMainItem.qrCode_ID">
                        </ngx-qrcode>
                    </div>
                    <div>
                        <span>{{qrCodeMainItem.qrCode_ID}}</span>
                    </div>
                </div>
                <div class="col-4">
                    <div class="div-top1">
                        <span>{{ qrCodeMainItem.receive_Date | date: "MM/dd/yyyy" }}</span>
                    </div>
                </div>
                <div class="col-4">
                    <div class="div-top1">
                        <span >{{qrCodeMainItem.supplier_ID}} - {{qrCodeMainItem.supplier_Name}}</span>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-4">
                    <span>{{qrCodeMainItem.mO_No}}</span>
                    <span style="margin-left: 30px;">{{qrCodeMainItem.mO_Seq}}</span>
                </div>
                <div class="col-8">
                    
                    <span *ngIf="totalQty !== undefined" style="margin-left: 100px;">{{ totalQty }}</span>
                </div>
                <div class="col-4">
                    <span>{{qrCodeMainItem.model_No}}</span>
                    <span>{{qrCodeMainItem.model_Name}}</span>
                </div>
                <div class="col-8">
                    <span>{{qrCodeMainItem.article}}</span>
                </div>
                <div class="col-4">
                    <span>{{qrCodeMainItem.material_ID}}</span>
                </div>
                <div class="col-8">
                    <span>{{qrCodeMainItem.material_Name}}</span>
                </div>
                <div class="col-4">

                </div>
                <div class="col-4">
                    
                </div>
                <div class="col-4">

                </div>
                <div class="col-10">
                    <table>
                        <tr>
                            <td>TSize</td>
                            <td *ngFor="let item of packingListDetail">{{ item.tool_Size}}</td>
                        </tr>
                        <tr>
                            <td>Size</td>
                            <td *ngFor="let item of packingListDetail">{{ item.order_Size }}</td>
                        </tr>
                        <tr>
                            <td>PQty</td>
                            <td *ngFor="let item of packingListDetail">{{ item.purchase_Qty }}</td>
                        </tr>
                        <tr>
                            <td>RQty</td>
                            <td *ngFor="let item of packingListDetail">{{ item.received_Qty }}</td>
                        </tr>
                        <tr>
                            <td>Bal</td>
                            <td *ngFor="let item of packingListDetail">{{ item.bal }}</td>
                        </tr>
                    </table>
                </div>
                <div class="col-2">
                    
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-4">
                    <span>{{qrCodeMainItem.subcon_ID}}</span>
                    <div>
                      
                    </div>
                </div>
                <div class="col-4">
                    <span>{{qrCodeMainItem.subcon_Name}}</span>
                    <div>
                        
                    </div>
                </div>
                <div class="col-4">
                    <span>{{qrCodeMainItem.t3_Supplier}} - {{qrCodeMainItem.t3_Supplier_Name}}</span>
                    <div>
                       
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-3">
                    <span>Suggested Location</span>
                    <div>
                        <span class="text-red">Rack Location</span>
                    </div>
                </div>
                <div class="col-3">
                    <span><i class="fa fa-square-o fa-lg"></i> A-01-02</span>
                    <div>
                        <ngx-qrcode id="qrCodeImage" [qrc-element-type]="elementType" [qrc-value] = "qrCodeMainItem.qrCode_ID">
                        </ngx-qrcode>
                    </div>
                </div>
                <div class="col-3">
                    <span><i class="fa fa-square-o fa-lg"></i> A-01-02</span>
                    <div>
                        <ngx-qrcode id="qrCodeImage" [qrc-element-type]="elementType" [qrc-value] = "qrCodeMainItem.qrCode_ID">
                        </ngx-qrcode>
                    </div>
                </div>
                <div class="col-3">
                    <span><i class="fa fa-square-o fa-lg"></i> A-01-02</span>
                    <div>
                        <ngx-qrcode id="qrCodeImage" [qrc-element-type]="elementType" [qrc-value] = "qrCodeMainItem.qrCode_ID">
                        </ngx-qrcode>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-1">
        </div>
    </div>
</div>