<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <strong>Input</strong>
          <!-- <button type="button" class="btn btn-sm btn-primary float-right"><i class="fa fa-chevron-left"></i>
            Back</button> -->
        </div>
        <form class="form-horizontal" #addAuditTypeForm="ngForm">
          <div class="card-body">

            <div class="form-group row">
              <div class="col-md-3">
                <label>Rack Location:</label>
                <div class="input-group">
                  <span class="input-group-prepend">
                    <button class="btn btn-primary" type="button" disabled>SCAN</button>
                  </span>
                  <input type="text" (keyup.enter)="enter()" (keyup)="upperCase()" placeholder="Scan" class="form-control" [(ngModel)]="rackLocation" name="rackLocation">
                </div>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-3">
                <label> QrCode:</label>
                <div class="input-group">
                  <span class="input-group-prepend">
                    <button class="btn btn-primary" type="button" disabled>SCAN</button>
                  </span>
                  <input type="text" id="scanQrCodeId" placeholder="QRCode" [(ngModel)]="qrCodeID" name="qrCodeID" class="form-control" (ngModelChange)="getInputMain($event)">
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="row">
    <!--/.col-->
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <strong>INPUT FROM SCAN QR</strong>
        </div>
        <div class="card-body">
          <!-- <ngx-spinner bdOpacity=0.2 bdColor="rgba(51,51,51,0.8)" size="medium" color="#20A8D8" type="pacman">
          </ngx-spinner> -->
          <div class="table-reponsive">
            <table class="table table-bordered text-center">
              <thead>
                <tr>
                  <th>SEQ</th>
                  <th>Input No</th>
                  <th>QRcode Id</th>
                  <th>Plan No</th>
                  <th>Suplier</th>
                  <th>Batch</th>
                  <th>Accumated Qty</th>
                  <th>Trans in Qty</th>
                  <th>In Stock Qty</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let item of result; let i = index">
                  <tr >
                    <td rowspan="2"  class="text-center vertical-middle">
                      {{i + 1}}
                    </td>
                    <td rowspan="2" class="text-center vertical-middle">{{item.input_No}}</td>
                    <td>{{item.qrCode_Id}}</td>
                    <td>{{item.plan_No}}</td>
                    <td>{{item.suplier_No}} - {{item.suplier_Name}}</td>
                    <td>{{item.batch}}</td>
                    <td>{{item.accumated_Qty}}</td>
                    <td>{{item.trans_In_Qty}}</td>
                    <td>{{item.inStock_Qty}}</td>
                    <td rowspan="2" class="text-center vertical-middle">
                      <button class="btn btn-warning mr-2" (click)="getDetailByQRCode(item)"><i class="fa fa-search-plus"></i>  Detail</button>
                      <button class="btn btn-danger" *ngIf="item.input_No === null" (click)="remove(item.qrCode_Id)"><i class="fa fa-trash" ></i> Delete</button>
                      <button class="btn btn-primary" (click)="printQrCode(item.qrCode_Id)" *ngIf="checkSubmit === true">QrCode</button>
                      <button class="btn btn-success" (click)="printMiss(item.qrCode_Id)"
                      *ngIf="checkSubmit === true && item.accumated_Qty!== item.trans_In_Qty">Missing</button>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="7" class="text-center vertical-middle">{{item.mat_Id}} - {{item.mat_Name}}</td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div>
          <div class="d-flex">

          </div>
        </div>
          <div class="card-footer" *ngIf="result.length>0">
            <!-- <button class="btn btn-danger mr-2"><i class="fa fa-ban"></i> Cancel</button> -->
            <button class="btn btn-success mr-2" (click)="submitInput()"><i class="fa fa-check"></i> Submit</button>
            <!-- <button class="btn btn-primary"><i class="fa fa-print"></i> Print</button> -->
          </div>
      </div>
    </div>
    <!--/.col-->
  </div>

</div>