<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <strong>Receipt</strong>
          <button type="button" class="btn btn-sm btn-primary float-right"><i
              class="fa fa-chevron-left"></i>
            Back</button>
        </div>
        <form class="form-horizontal" #addAuditTypeForm="ngForm">
          <div class="card-body">
            <div class="form-group row">
              <label class="col-md-2 col-form-label" for="fromDate"><strong class="float-right">Expected Delivery Date</strong></label>
              <div class="col-md-2">
                <div class="input-group">
                  <input type="text" 
                    placeholder="Start" 
                    id="fromDate" class="form-control" 
                    bsDatepicker [bsValue]="fromDate"
                    [(ngModel)]="time_start"
                    name="time_start"
                    [bsConfig]="{isAnimated: true, dateInputFormat: 'YYYY/MM/DD'}">
                  <span class="input-group-append">
                    <button class="btn btn-primary" type="button" disabled><i class="fa fa-calendar"></i></button>
                  </span>
                </div>
              </div>
              <div class="col-md-2">
                <div class="input-group">
                  <input type="text" 
                    placeholder="End" 
                    class="form-control" 
                    bsDatepicker 
                    [bsValue]="toDate" 
                    [(ngModel)]="time_end"
                    name="time_end"
                    [bsConfig]="{isAnimated: true, dateInputFormat: 'YYYY/MM/DD'}">
                  <span class="input-group-append">
                    <button class="btn btn-primary" type="button" disabled><i class="fa fa-calendar"></i></button>
                  </span>
                </div>
              </div>
              <label class="col-md-2 col-form-label" for="purchase_no"><strong class="float-right">Purchase No </strong></label>
              <div class="col-md-2">
                <input type="text" name="purchase_No" [(ngModel)]="purchase_No" placeholder="Enter Purchase No" class="form-control">
              </div>
              <div class="col-md-2">
                
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-2 col-form-label" for="Supplier No"><strong class="float-right">Supplier No</strong></label>
              <div class="col-md-2">
                <input type="text" name="supplierNo" [(ngModel)]="supplier_ID" (change)="changeSupplier()" class="form-control" placeholder="Enter Supplier No  ..">
              </div>
              <div class="col-md-2">
                <input type="text" [(ngModel)]="supplier_Name" disabled name="supplier_Name" class="form-control">
              </div>
              <label class="col-md-2 col-form-label" for="status"><strong class="float-right">Status</strong></label>
              <div class="col-md-2">
                <select class="form-control" [(ngModel)]="status" id="status" name="status">
                  <option value="all">All</option>
                  <option value="Y">Closed</option>
                  <option value="N">Not Closed</option>
                </select>
              </div>
              <div class="col-md-2">
                <button type="button" class="btn btn-success btn-block" (click)="search()"><i class="fa fa-search"></i>
                  Search</button>
              </div>
            </div>
            <div class="form-group row">
              
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="row">
    <!--/.col-->
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <!-- <ngx-spinner bdOpacity=0.2 bdColor="rgba(51,51,51,0.8)" size="medium" color="#20A8D8" type="pacman">
          </ngx-spinner> -->
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Close</th>
                <th>Missing Mat# No</th>
                <th>Plan_No</th>
                <th>Purchase No</th>
                <th>Model No</th>
                <th>Model Name</th>
                <th>Article</th>
                <th>Supplier No</th>
                <th>Supplier Name</th>
              </tr>
            </thead>
            <tbody >
              <ng-container *ngFor="let item of materialLists; let index = index">
                <tr>
                  <td *ngIf="item.status === 'N'; else elseStatus"
                   class="text-center vertical-middle" rowspan="2">
                   <button (click)="changeStatus(item)" class="btn btn-primary">{{item.status}}</button></td>
                  <ng-template #elseStatus><td class="text-center vertical-middle" rowspan="2">{{item.status}}</td></ng-template>
                  <td class="text-center vertical-middle" rowspan="2">{{item.missing_No}}</td>
                  <td class="text-center vertical-middle" rowspan="2"><button
                    (click)="changePageAdd(item)"
                     class="btn btn-primary">{{item.mO_No}}</button></td>
                  <th class="text-center vertical-middle">{{item.purchase_No}}</th>
                  <th class="text-center vertical-middle">{{item.model_No}}</th>
                  <th class="text-center vertical-middle">{{item.model_Name}}</th>
                  <th class="text-center vertical-middle">{{item.article}}</th>
                  <th class="text-center vertical-middle">{{item.supplier_ID}}</th>
                  <th class="text-center vertical-middle">{{item.supplier_Name}}</th>
                </tr>
                <tr>
                  <td class="text-center vertical-middle" colspan="6">{{item.material_Name}}</td>
                </tr>
              </ng-container>
            </tbody>
          </table>
          <div class="d-flex float-right">
          </div>
        </div>
        <!-- <div class="d-flex">
          <pagination [boundaryLinks]="true" [totalItems]="pagination.totalItems" [(ngModel)]="pagination.currentPage"
          [itemsPerPage]="pagination.itemsPerPage" (pageChanged)="pageChanged($event)" previousText="&lsaquo;"
          nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;" [maxSize]=5>
          </pagination>
        </div> -->
      </div>
    </div>
    <!--/.col-->
  </div>
</div>
