<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <strong>Qr Generate</strong>
          Qr Generate
          <button type="button" 
            class="btn btn-sm btn-primary float-right">
            <i class="fa fa-chevron-left"></i> Back
          </button>
        </div>
        <form class="form-horizontal">
          <div class="card-body">
            <div class="form-group row">
              <label class="col-md-2 col-form-label" for="fromDate"><strong class="float-right">Date</strong></label>
              <div class="col-md-2">
                <div class="input-group">
                  <input type="text" 
                    placeholder="Start" 
                    id="fromDate" class="form-control" 
                    bsDatepicker [bsValue]="fromDate"
                    [(ngModel)]="time_start"
                    name="time_start"
                    [bsConfig]="{isAnimated: true, dateInputFormat: 'YYYY/MM/DD'}">
                  <span class="input-group-append">
                    <button class="btn btn-primary" type="button" disabled><i class="fa fa-calendar"></i></button>
                  </span>
                </div>
              </div>
              <div class="col-md-2">
                <div class="input-group">
                  <input type="text" 
                    placeholder="End" 
                    class="form-control" 
                    bsDatepicker 
                    [bsValue]="toDate" 
                    [(ngModel)]="time_end"
                    name="time_end"
                    [bsConfig]="{isAnimated: true, dateInputFormat: 'YYYY/MM/DD'}">
                  <span class="input-group-append">
                    <button class="btn btn-primary" type="button" disabled><i class="fa fa-calendar"></i></button>
                  </span>
                </div>
              </div>
              <label class="col-md-1 offset-md-1 col-form-label" for="audit_Type2_Name"><strong class="float-right">Supplier No </strong></label>
              <div class="col-md-1">
                <input type="text" [(ngModel)]="supplier_ID" (change)="changeSupplier()" name="supplier_ID" class="form-control">
              </div>
              <div class="col-md-2">
                <input type="text" [(ngModel)]="supplier_Name" name="supplier_Name" class="form-control" disabled>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-2 col-form-label" for="version"><strong class="float-right">Plan No</strong></label>
              <div class="col-md-2">
                <input type="text" [(ngModel)]="mO_No" name="mO_No" class="form-control" placeholder="Enter Plan No  ..">
              </div>
              <div class="col-md-2">
                 <button type="button" class="btn btn-success btn-block" (click)="search()"><i class="fa fa-search"></i>
                  Search
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <!-- <ngx-spinner bdOpacity=0.2 bdColor="rgba(51,51,51,0.8)" size="medium" color="#20A8D8" type="pacman">
          </ngx-spinner> -->
          <table class="table table-bordered">
            <thead>
              <tr>
                <th class="text-center">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" (change)="checkAll($event)" id="all">
                    <label class="custom-control-label" for="all"></label>
                  </div>
                </th>
                <th>Plan No</th>
                <th>Recive No</th>
                <th>Batch</th>
                <th>Math#</th>
                <th>Math_Name</th>
              </tr>
            </thead>
            <tbody >
              <ng-container *ngFor="let item of packingLists; let i = index">
                <tr>
                  <td class="text-center">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" [value]="item.receive_No"
                       class="custom-control-input"
                      (change)="onCheckboxChange($event)"
                       id="{{item.receive_No}}">
                      <label class="custom-control-label" for="{{item.receive_No}}"></label>
                    </div>
                  </td>
                  <td>{{item.mO_No}}</td>
                  <td>{{item.receive_No}}</td>
                  <td>{{item.mO_Seq}}</td>
                  <td>{{item.material_ID}}</td>
                  <td>{{item.material_Name}}</td>
                </tr>
              </ng-container>
            </tbody>
          </table>
          <div class="d-flex float-right">
          </div>
        </div>
        <div class="d-flex">
          <pagination [boundaryLinks]="true" [totalItems]="pagination.totalItems" [(ngModel)]="pagination.currentPage"
          [itemsPerPage]="pagination.itemsPerPage" (pageChanged)="pageChanged($event)" previousText="&lsaquo;"
          nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;" [maxSize]=5>
          </pagination>
        </div>
        <div class="card-footer" *ngIf="packingLists.length > 0">
          <button class="btn btn-danger mr-2"
            (click)="cancel()">
            <i class="fa fa-ban"></i>
            Cancel
          </button>
          <button (click)="pageQrCode()" class="btn btn-success">
            <i class="fa fa-check"></i>
            Generate Barcode
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
