<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card mb-0">
        <div class="card-header">
          <strong>Transfer History</strong>
        </div>
        <form class="form-horizontal">
          <div class="card-body">
            <div class="form-group row">
              <label class="col-md-2 col-form-label" for="fromDate"
                ><strong class="float-right">Date</strong></label
              >
              <div class="col-md-2">
                <div class="input-group">
                  <input
                    type="text"
                    placeholder="Datepicker"
                    class="form-control"
                    bsDatepicker
                    [bsConfig]="bsConfig"
                    [(ngModel)]="fromDate"
                    name="fromDate"
                  />
                  <span class="input-group-append">
                    <button class="btn btn-primary" type="button" disabled>
                      <i class="fa fa-calendar"></i>
                    </button>
                  </span>
                </div>
              </div>
              <div class="col-1"></div>
              <div class="col-md-2">
                <div class="input-group">
                  <input
                    type="text"
                    placeholder="Datepicker"
                    class="form-control"
                    bsDatepicker
                    [bsConfig]="bsConfig"
                    [(ngModel)]="toDate"
                    name="toDate"
                  />
                  <span class="input-group-append">
                    <button class="btn btn-primary" type="button" disabled>
                      <i class="fa fa-calendar"></i>
                    </button>
                  </span>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-2 col-form-label" for="version"
                ><strong class="float-right">Status</strong></label
              >
              <div class="col-md-2">
                <select class="form-control" [(ngModel)]="status" name="status">
                  <option value="">All</option>
                  <option value="I">In</option>
                  <option value="O">Out</option>
                  <option value="M">Transfer</option>
                </select>
              </div>
              <div class="col-1"></div>
              <div class="col-md-2">
                <button
                  type="button"
                  class="btn btn-success"
                  (click)="getData()"
                >
                  <i class="fa fa-search"></i>
                  Search
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered text-center">
              <thead>
                <tr>
                  <!-- <th class="text-center">
                    <div class="custom-control custom-checkbox">
                      <input
                        type="checkbox"
                        class="custom-control-input"
                        id="checkAll"
                        (change)="checkAll($event)"
                      />
                      <label
                        class="custom-control-label"
                        for="checkAll"
                      ></label>
                    </div>
                  </th> -->
                  <th>Transfer Time</th>
                  <th>Plan No</th>
                  <th>Status</th>
                  <th>Qty</th>
                  <th>From Location</th>
                  <th>To Location</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of transfers; let i = index">
                  <!-- <td class="text-center">
                    <div class="custom-control custom-checkbox">
                      <input
                        type="checkbox"
                        class="custom-control-input"
                        [value]="i"
                        id="{{ item.id }}"
                        (change)="checkEle($event)"
                        name="transfers"
                      />
                      <label
                        class="custom-control-label"
                        for="{{item.id}}"
                      ></label>
                    </div>
                  </td> -->
                  <td>{{ item.transacTime | date: "yyyy/MM/dd" }}</td>
                  <td>{{ item.planNo }}</td>
                  <td>
                    {{
                      item.transacType == "I"
                        ? "Input"
                        : item.transacType == "O"
                        ? "Output"
                        : "Move"
                    }}
                  </td>
                  <td>{{ item.qty }}</td>
                  <td>{{ item.fromLocation }}</td>
                  <td>{{ item.toLocation }}</td>
                  <td>
                    <button class="btn btn-warning mr-2" [routerLink]="['/transfer/detail/',item.transacType, item.transferNo]">
                      <i class="fa fa-search-plus"></i> Detail
                    </button>
                  </td>
                </tr>
              </tbody>
              <tbody *ngIf="transfers!== undefined && transfers.length === 0">
                <tr>
                  <td colspan="9">
                    <alert class="text-center" type='danger'>
                      <strong>No Data matching!</strong> 
                    </alert>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="d-flex" *ngIf="pagination.totalPages > 1">
            <pagination
              [boundaryLinks]="true"
              [totalItems]="pagination.totalItems"
              [(ngModel)]="pagination.currentPage"
              [itemsPerPage]="pagination.itemsPerPage"
              (pageChanged)="pageChanged($event)"
              previousText="&lsaquo;"
              nextText="&rsaquo;"
              firstText="&laquo;"
              lastText="&raquo;"
              [maxSize]="5"
            >
            </pagination>
          </div>
        </div>
        <!-- <div class="card-footer" *ngIf="transfers.length > 0">
          <button class="btn btn-danger mr-2">
            <i class="fa fa-ban"></i> Cancel
          </button>
          <button class="btn btn-primary" (click)="print()">
            <i class="fa fa-print"></i> Print
          </button>
        </div> -->
      </div>
    </div>
  </div>
</div>
