<div class="animated fadeIn">
  <!--/.row-->
  <div class="row">
    <!--/.col-->
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Manage
          <div class="float-right">
            <button (click)="backForm()" type="button" class="btn btn-sm btn-secondary">
              <i class="fa fa-chevron-left"></i>
              Back
            </button>
          </div>
        </div>
        <div class="card-body">
          <table *ngIf="receiveDetail !== undefined && receiveDetail !== null" class="table table-bordered">
            <thead>
              <tr>
                <th class="bgr-table">Size</th>
                <th *ngFor="let item of receiveDetail" class="text-center vertical-middle">{{item.order_Size}}</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="bgr-table">Purchase Qty</td>
                <td *ngFor="let item of receiveDetail"  class="text-center vertical-middle">{{item.purchase_Qty}}</td>
              </tr>
              <tr>
                <td class="bgr-table">Received Qty</td>
                <td *ngFor="let item of receiveDetail"  class="text-center vertical-middle">{{item.received_Qty}}</td>
              </tr>
              <!-- <tr>
                <td class="bgr-table">Remaining canbe receive Qty</td>
                <td *ngFor="let item of receiveDetail" class="text-center vertical-middle">{{item.remaining}}</td>
              </tr> -->
            </tbody>
          </table>
          <div class="d-flex">
            
          </div>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
</div>

