// td:nth-child(1) {  
//     background-color: #20a8d8;
//       color: #fff;
//       font-size: 1rem;
// }
.bgr-table {
    background-color: #20a8d8 !important;
    font-weight: 600;
}
th {
    background: white;
    color: black;
    font-weight: normal;
}