<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <strong>Transfer Location Sheet</strong>
          <button
            type="button"
            class="btn btn-sm btn-primary float-right"
            (click)="back()"
          >
            <i class="fa fa-chevron-left"></i> Back
          </button>
        </div>
        <div class="card-body">
          <div class="container div-hidden print-all" id="wrap-print">
            <h4>Print Date: {{ today | date: "yyyy/MM/dd" }}</h4>
            <div class="row"  *ngFor="let item of resultsPrint">
              <div class="col-8 pt-3">
                <h4>Transfer No: {{ item.name }}</h4>
              </div>
              <div class="col-4">
                <ngx-qrcode
                  id="qrCodeImage"
                  [qrc-element-type]="elementType"
                  qrc-class="qr-height"
                  qrc-version="7"
                  [qrc-value]="item.name"
                >
                </ngx-qrcode>
                <div class="pl-4 pb-2">
                  <strong class="rack-location">
                    {{ item.name }}
                  </strong>
                </div>
              </div>
              <div class="table-responsive">
                <table class="table table-bordered text-center">
                  <thead>
                    <tr>
                      <th>SEQ</th>
                      <th>Plan No</th>
                      <th>Batch</th>
                      <th>Material No</th>
                      <th>Mat# Name</th>
                      <th>Qty</th>
                      <th>From Location</th>
                      <th>To Location</th>
                      <th>Transfer Time</th>
                      <th>Transfer By</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let value of item.values; let i = index">
                      <td>{{ i + 1 }}</td>
                      <td>{{ value.planNo }}</td>
                      <td>{{ value.batch }}</td>
                      <td>{{ value.matId }}</td>
                      <td>{{ value.matName }}</td>
                      <td>{{ value.qty }}</td>
                      <td>{{ value.fromLocation }}</td>
                      <td>{{ value.toLocation }}</td>
                      <td>
                        {{ value.transacTime | date: "yyyy/MM/dd HH:mm:ss" }}
                      </td>
                      <td>
                        {{ value.updateBy }}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <button
            type="button"
            class="btn btn-primary"
            [useExistingCss]="true"
            printSectionId="wrap-print"
            ngxPrint
          >
            <i class="fa fa-print"></i> Print
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
