// If you want to override variables do it here
@import "variables";

// Import styles
@import "~@coreui/coreui/scss/coreui";

// If you want to add something do it here
@import "custom";

@import '../../node_modules/@ng-select/ng-select/themes/default.theme.css';
@import '../../node_modules/ngx-bootstrap/datepicker/bs-datepicker.css';

.mr-30 {
    margin-right: 30px !important;
}

thead {
    background-color: #20a8d8;
    color: #fff;
}

.navbar {
    background-color: #2F353A;
}

.vertical-middle {
    vertical-align: middle !important;
}