<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <strong>Add new</strong>
          Transfer Location
        </div>
        <form class="form-horizontal">
          <div class="card-body">
            <div class="form-group row">
              <div class="col-md-3">
                <label>To Location:</label>
                <div class="input-group">
                  <span class="input-group-prepend">
                    <button class="btn btn-primary" type="button" disabled>
                      SCAN
                    </button>
                  </span>
                  <input
                    type="text"
                    placeholder="To Location"
                    class="form-control"
                    name="toLocation"
                    [(ngModel)]="toLocation"
                    (ngModelChange)="changeTransferNo()"
                  />
                </div>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-3">
                <label> QrCode:</label>
                <div class="input-group">
                  <span class="input-group-prepend">
                    <button class="btn btn-primary" type="button" disabled>
                      SCAN
                    </button>
                  </span>
                  <input
                    type="text"
                    placeholder="QRCode"
                    name="qrCodeID"
                    class="form-control"
                    [(ngModel)]="qrCodeId"
                    (ngModelChange)="getTransferMain($event)"
                  />
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <strong>TRANSFER FROM SCAN QR</strong>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered text-center">
              <thead>
                <tr>
                  <th>SEQ</th>
                  <th>Transfer No</th>
                  <th>QRcode Id</th>
                  <th>Plan No</th>
                  <th>Batch</th>
                  <th>Material No</th>
                  <th>Qty</th>
                  <th>From Location</th>
                  <th>To Location</th>
                  <th *ngIf="!flagSubmit">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of transfers; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>{{ item.transferNo }}</td>
                  <td>{{ item.qrCodeId }}</td>
                  <td>{{ item.planNo }}</td>
                  <td>{{ item.batch }}</td>
                  <td>{{ item.matId }}</td>
                  <td>{{ item.qty }}</td>
                  <td>{{ item.fromLocation }}</td>
                  <td>{{ item.toLocation }}</td>
                  <td *ngIf="!flagSubmit">
                    <button
                      class="btn btn-danger"
                      (click)="remove(item.qrCodeId)"
                    >
                      <i class="fa fa-trash"></i> Delete
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="card-footer" *ngIf="transfers.length > 0">
          <button class="btn btn-danger mr-2">
            <i class="fa fa-ban"></i> Cancel
          </button>
          <button
            class="btn btn-success mr-2"
            (click)="submitMain()"
            [disabled]="flagSubmit"
          >
            <i class="fa fa-check"></i> Submit
          </button>
          <button class="btn btn-primary" [disabled]="!flagSubmit" (click)="printMain()">
            <i class="fa fa-print"></i> Print
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
