
<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <strong>Add record</strong>
          <button type="button" (click)="backForm()" class="btn btn-sm btn-primary float-right"><i class="fa fa-chevron-left"></i>
            Back</button>
        </div>
        <form class="form-horizontal" #addAuditTypeForm="ngForm">
          <div class="card-body">
            <div class="form-group row">
              <label class="col-md-1 col-form-label" for="Receive No"><strong class="float-right">Receive No</strong></label>
              <div class="col-md-3">
                <select (change)="changeForm()" class="form-control" [(ngModel)]="type" id="status" name="status">
                  <option value="No Batch">No Batch</option>
                  <option value="Batches">Batches</option>
                </select>
              </div>
              <label class="col-md-1 col-form-label" for="Delivery No"><strong
                  class="float-right">Delivery No </strong></label>
              <div class="col-md-3">
                <input type="text" name="Delivery No" class="form-control" disabled>
              </div>
            </div>
            <div class="row">
              <div class="col-md-10 offset-md-1">
                <table class="table table-bordered">
                  <thead>
                    <tr class="text-center">
                      <th>Size</th>
                      <th>03.5</th>
                      <th>04</th>
                      <th>05</th>
                      <th>05.5</th>
                      <th>06</th>
                      <th>06.5</th>
                      <th>07</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="text-center">
                      <td>Purchase Qty</td>
                      <td>300</td>
                      <td>220</td>
                      <td>100</td>
                      <td>100</td>
                      <td>300</td>
                      <td>100</td>
                      <td>50</td>
                    </tr>
                    <tr class="text-center">
                      <td>Accumated Qty</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                    </tr>
                    <tr class="text-center">
                      <td>Receive Qty</td>
                      <td><input type="text" disabled class="input-table"></td>
                      <td><input type="text" disabled class="input-table"></td>
                      <td><input type="text" disabled class="input-table"></td>
                      <td><input type="text" disabled class="input-table"></td>
                      <td><input type="text" disabled class="input-table"></td>
                      <td><input type="text" disabled class="input-table"></td>
                      <td><input type="text" disabled class="input-table"></td>
                    </tr>
                    <tr class="text-center">
                      <td>
                        <div style="display: flex;">
                          <button style="width: 70px;" class="btn btn-pill btn-block btn-secondary">Insert</button>
                          <span style="padding-left: 25px;">-1</span>
                        </div>
                        </td>
                      <td><input type="text" disabled class="input-table"></td>
                      <td><input type="text" disabled class="input-table"></td>
                      <td><input type="text" disabled class="input-table"></td>
                      <td><input type="text" disabled class="input-table"></td>
                      <td><input type="text" disabled class="input-table"></td>
                      <td><input type="text" disabled class="input-table"></td>
                      <td><input type="text" disabled class="input-table"></td>
                    </tr>
                    <tr class="text-center">
                      <td>
                        <div style="display: flex;">
                          <button style="width: 70px;" class="btn btn-pill btn-block btn-secondary">Insert</button>
                          <span style="padding-left: 25px;">-2</span>
                        </div>
                        </td>
                      <td><input type="text" disabled  class="input-table"></td>
                      <td><input type="text" disabled class="input-table"></td>
                      <td><input type="text" disabled class="input-table"></td>
                      <td><input type="text" disabled class="input-table"></td>
                      <td><input type="text" disabled class="input-table"></td>
                      <td><input type="text" disabled class="input-table"></td>
                      <td><input type="text" disabled class="input-table"></td>
                    </tr>
                    <tr class="text-center">
                      <td>
                        <div style="display: flex;">
                          <button style="width: 70px;" class="btn btn-pill btn-block btn-secondary">Insert</button>
                          <span style="padding-left: 25px;">-3</span>
                        </div>
                        </td>
                      <td><input type="text" disabled class="input-table"></td>
                      <td><input type="text" disabled class="input-table"></td>
                      <td><input type="text" disabled class="input-table"></td>
                      <td><input type="text" disabled class="input-table"></td>
                      <td><input type="text" disabled class="input-table"></td>
                      <td><input type="text" disabled class="input-table"></td>
                      <td><input type="text" disabled class="input-table"></td>
                    </tr>
                  </tbody>
                </table>
              </div>
              
            </div>

          </div>
        </form>

        <div class="card-footer">
          <button type="button" class="btn btn-danger"><i class="fa fa-ban"></i> Cancel</button>
          <button type="button" class="btn btn-success" [disabled]="!addAuditTypeForm.valid"><i
              class="fa fa-check"></i> Save</button>
        </div>
      </div>
    </div>
  </div>
</div>
