<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <strong>Detail Transfer Location</strong>
          <button
            type="button"
            class="btn btn-sm btn-primary float-right"
            (click)="back()"
          >
            <i class="fa fa-chevron-left"></i> Back
          </button>
        </div>
        <form class="form-horizontal">
          <div class="card-body">
            <div class="table-responsive" *ngIf="transferType !== 'O'">
              <table class="table table-bordered text-center">
                <thead>
                  <tr>
                    <th>
                      PO#Size
                    </th>
                    <th class="custom-background-print" *ngFor="let item of transferDetails">
                      {{ item.tool_Size }}
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="custom-thead">
                      Accumated Qty
                    </td>
                    <td *ngFor="let item of transferDetails">{{ item.qty }}</td>
                  </tr>
                  <tr>
                    <td class="custom-thead">Trans In Qty</td>
                    <td *ngFor="let item of transferDetails">
                      {{ item.trans_Qty }}
                    </td>
                  </tr>
                  <tr>
                    <td class="custom-thead">InStock Qty</td>
                    <td *ngFor="let item of transferDetails">
                      {{ item.instock_Qty }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="table-responsive" *ngIf="transferType === 'O'">
              <table class="table table-bordered text-center">
                <thead>
                  <tr>
                    <th>
                      Tool Size
                    </th>
                    <th class="custom-background-print" *ngFor="let item of transferDetails">
                      {{ item.tool_Size }}
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="custom-thead">Tran Out Qty</td>
                    <td *ngFor="let item of transferDetails">
                      {{ item.trans_Qty }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
