<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <strong>Detail Transfer Location</strong>
          <button
            type="button"
            class="btn btn-sm btn-primary float-right"
            (click)="back()"
          >
            <i class="fa fa-chevron-left"></i> Back
          </button>
        </div>
        <form class="form-horizontal">
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered text-center">
                <tr>
                  <td class="custom-thead">Tool Size</td>
                  <td
                    class="custom-background-print"
                    *ngFor="let item of transferDetails"
                  >
                    {{ item.tool_Size }}
                  </td>
                </tr>
                <tr>
                  <td class="custom-thead">
                    PO#Size
                  </td>
                  <td *ngFor="let item of transferDetails">
                    {{ item.order_Size }}
                  </td>
                </tr>
                <tr>
                  <td class="custom-thead">Trans Qty</td>
                  <td *ngFor="let item of transferDetails">
                    {{ item.trans_Qty }}
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
