
<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <strong>Add record</strong>
          <button type="button" (click)="backForm()" class="btn btn-sm btn-primary float-right"><i class="fa fa-chevron-left"></i>
            Back</button>
        </div>
        <form class="form-horizontal" #addAuditTypeForm="ngForm">
          <div class="card-body">
            <div class="form-group row">
              <label class="col-md-1 col-form-label" for="fromDate"><strong class="float-right">Receive No</strong></label>
              <div class="col-md-3">
                <select class="form-control" 
                (change)= "changeForm()"
                [(ngModel)]="type" 
                id="status" name="status">
                  <option value="No Batch">No Batch</option>
                  <option value="Batches">Batches</option>
                </select>
              </div>
              <label class="col-md-1 col-form-label" for="purchaseNo"><strong
                  class="float-right">Delivery No </strong></label>
              <div class="col-md-3">
                <input type="text" name="Delivery No" class="form-control" disabled>
              </div>
            </div>
            <div class="row">
              <div class="col-md-10 offset-md-1">
                <table class="table table-bordered">
                  <thead>
                    <tr class="text-center">
                      <th>Size</th>
                      <th *ngFor="let item of materialMerging"> {{item.order_Size}}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="text-center">
                      <td>Purchase Qty</td>
                      <th *ngFor="let item of materialMerging">
                        {{item.purchase_Qty}}
                      </th>
                    </tr>
                    <tr class="text-center">
                      <td>Accumated Qty</td>
                      <td *ngFor="let item of materialMerging">{{item.accumlated_In_Qty}}</td>
                    </tr>
                    <tr class="text-center">
                      <td>Delivery Qty</td>
                      <td *ngFor="let item of materialMerging">
                        <input (change)="changeInput(item.order_Size)"
                        value="{{item.delivery_Qty}}"
                        type="text" id="{{item.order_Size}}" class="input-table">
                      </td>
                    </tr>
                    <tr *ngFor="let item of orderSizeByBatch" class="text-center">
                      <td *ngIf="item.mO_Seq !== ''; else elseContent">{{item.mO_Seq}}</td>
                      <ng-template #elseContent>No Batch</ng-template>
                      <td *ngFor="let item1 of item.purchase_Qty">
                        <!-- <input *ngIf="item1.purchase_Qty !== 0; else elseContent1" value="{{item1.purchase_Qty}}" type="text" disabled class="input-table">
                        <ng-template #elseContent1><i style="color: #20a8d8;" class="fa fa-check fa-lg"></i></ng-template> -->
                        <input value="{{item1.purchase_Qty}}" type="text" disabled class="input-table">
                    </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </form>
        <div class="card-footer">
          <button type="button" class="btn btn-danger"><i class="fa fa-ban"></i> Cancel</button>
          <button type="button" (click)="submitTable()" class="btn btn-success" [disabled]="!addAuditTypeForm.valid"><i
              class="fa fa-check"></i> Save</button>
        </div>
      </div>
    </div>
  </div>
</div>