<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <strong>Output</strong>
          <!-- <button type="button" class="btn btn-sm btn-primary float-right"><i class="fa fa-chevron-left"></i>
            Back</button> -->
        </div>
        <form class="form-horizontal" #addAuditTypeForm="ngForm">
          <div class="card-body">
            <div class="form-group row">
              <div class="col-md-3">
                <label> Pickup Sheet No:</label>
                <div class="input-group">
                  <span class="input-group-prepend">
                    <button class="btn btn-primary" type="button" disabled>
                      SCAN
                    </button>
                  </span>
                  <input
                    type="text"
                    placeholder="QRCode"
                    class="form-control"
                    name="qrCodeId"
                    [(ngModel)]="qrCodeId"
                    (ngModelChange)="getOutputMain($event)"
                  />
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered text-center">
              <thead>
                <tr>
                  <th>Output Sheet No</th>
                  <th>QRcode Id</th>
                  <th>Plan No</th>
                  <th>Supplier</th>
                  <th>Batch</th>
                  <th>WH</th>
                  <th>Building</th>
                  <th>Area</th>
                  <th>Rack Location</th>
                  <th>InStock Qty</th>
                  <th>Trans Out Qty</th>
                  <th>Remaining Qty</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let item of outputs; let i = index">
                  <tr>
                    <td rowspan="2" class="align-middle">
                      <span *ngIf="item.transOutQty != 0">{{ item.transacNo }}</span>
                    </td>
                    <td>{{ item.qrCodeId }}</td>
                    <td>{{ item.planNo }}</td>
                    <td>{{ item.supplierNo }} - {{ item.supplierName }}</td>
                    <td>{{ item.batch }}</td>
                    <td>{{ item.wh }}</td>
                    <td>{{ item.building }}</td>
                    <td>{{ item.area }}</td>
                    <td>{{ item.rackLocation }}</td>
                    <td>{{ item.inStockQty }}</td>
                    <td>{{ item.transOutQty }}</td>
                    <td>{{ item.remainingQty }}</td>
                    <td rowspan="2">
                      <!-- <button
                        class="btn btn-warning mr-2"
                        *ngIf="item.transOutQty != 0"
                        (click)="detail(item)"
                      >
                        <i class="fa fa-search-plus"></i> Detail
                      </button> -->
                      <button
                        class="btn btn-primary"
                        *ngIf="item.transOutQty == 0"
                        (click)="process(item)"
                      >
                        <i class="fa fa-pencil"></i> Process
                      </button>
                      <button
                        class="btn btn-primary"
                        *ngIf="item.transOutQty != 0 && item.remainingQty != 0"
                        (click)="print(item.qrCodeId)"
                      >
                        <i class="fa fa-print"></i> QRCode
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="11">{{ item.matId }} - {{ item.matName }}</td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div>
          <div class="d-flex"></div>
        </div>
        <div class="card-footer" *ngIf="outputs.length > 0">
          <button class="btn btn-danger mr-2">
            <i class="fa fa-ban"></i> Cancel
          </button>
          <button class="btn btn-success mr-2" (click)="submit()">
            <i class="fa fa-check"></i> Submit
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
